{% extends "base_layout_produits.html.twig" %}  {# je choisi de me mettre ds le layout #}


{% block body %}
    
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-table"></i> Data Table Example 
            <a class="btn btn-primary" href="{{ path('add_user') }}">
            <i class="fa fa-plus"></i>Ajouter un produit</a>
        </div>                          {# btn avec route fct° edi_user #}
                   
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Nom produit</th>
                  <th>Description</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>Nom produit</th>
                  <th>Description</th>
                  <th>Action</th>
                </tr>
              </tfoot>
              <tbody>
                  {% for produit in produits %}   {# tablo pour parcourir pls users #}
                <tr>
                  <td>{{ produit.nomProduit }}</td> {# {{}} = pour echo #}
                  <td>{{ produit.descripProduit }}</td>
                  <td>{{ produit.actionProduit }}</td>
                  <td>
                    <a class="btn btn-danger" href="{{ path('delete_user', { 'id' : user.id }) }}">
                        <i class="fa fa-trash"></i>
                    </a>  
                    <a class="btn btn-success" href="{{ path('edit_user', { 'id' : user.id }) }}">
                        <i class="fa fa-pencil"></i>   {# btn avec route fct° edi_user #}
                    </a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    
    
{% endblock %}
                                                              
    
    